In [3]:
%matplotlib inline
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades,
                   'classroom': np.random.choice(['A', 'B'], len(students))})

In [4]:
df

       name  math  english  reading classroom
0     Sally    62       85       80         A
1      Jane    88       79       67         B
2     Suzie    94       74       95         A
3     Billy    98       96       88         B
4       Ada    77       92       98         A
5      John    79       76       93         B
6    Thomas    82       64       81         A
7     Marie    93       63       90         A
8    Albert    92       62       87         A
9   Richard    69       80       94         A
10    Isaac    92       99       93         B
11     Alan    92       62       72         A

In [5]:
pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

   A  B
0  1  4
1  2  5
2  3  6

In [6]:
pd.DataFrame([[1, 2, 3], [4, 5, 6]])

   0  1  2
0  1  2  3
1  4  5  6

In [21]:
data = np.array([[1, 2, 3], [4, 5, 6]])
pd.DataFrame(data, columns=['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6

In [33]:
from env import host, user, password

In [41]:
db_name = 'employees'

In [42]:
url = f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [43]:
df = pd.read_sql('select * from employees limit 5', url)

In [44]:
df

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [45]:
from pydataset import data

In [40]:
mpg = data('mpg')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [55]:
mpg['avg_miles'] = (mpg.cty+mpg.hwy)/2

In [56]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_miles
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

In [63]:
mpg.avg_miles.max()
filt = mpg.avg_miles == mpg.avg_miles.max()
filt

1      False
2      False
3      False
4      False
5      False
       ...
230    False
231    False
232    False
233    False
234    False
Name: avg_miles, Length: 234, dtype: bool

In [64]:
mpg[filt]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_miles
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,39.5

In [69]:
mpg.manufacturer.unique()

array(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'lincoln', 'mercury', 'nissan', 'pontiac', 'subaru',
       'toyota', 'volkswagen'], dtype=object)

In [70]:
len(mpg.manufacturer.unique())

15

In [71]:
mpg.model.unique()

array(['a4', 'a4 quattro', 'a6 quattro', 'c1500 suburban 2wd', 'corvette',
       'k1500 tahoe 4wd', 'malibu', 'caravan 2wd', 'dakota pickup 4wd',
       'durango 4wd', 'ram 1500 pickup 4wd', 'expedition 2wd',
       'explorer 4wd', 'f150 pickup 4wd', 'mustang', 'civic', 'sonata',
       'tiburon', 'grand cherokee 4wd', 'range rover', 'navigator 2wd',
       'mountaineer 4wd', 'altima', 'maxima', 'pathfinder 4wd',
       'grand prix', 'forester awd', 'impreza awd', '4runner 4wd',
       'camry', 'camry solara', 'corolla', 'land cruiser wagon 4wd',
       'toyota tacoma 4wd', 'gti', 'jetta', 'new beetle', 'passat'],
      dtype=object)

In [72]:
len(mpg.model.unique())

38

In [73]:
pd.DataFrame(mpg)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_miles
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

In [84]:
mpg.trans.str.contains('auto')
mpg[mpg.trans.str.contains('auto')].head(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_miles
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,23.0
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,20.0
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,21.0
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,19.5
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,21.0

In [82]:
mpg_for_auto_cars = mpg[mpg.trans.str.contains('auto')]
mpg_for_auto_cars.avg_miles.mean()

19.130573248407643

In [85]:
mpg.trans.str.contains('manual')
mpg[mpg.trans.str.contains('manual')].head(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_miles
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,21.0
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,20.0
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater,21.0
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater,21.0
28,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater,19.5

In [86]:
mpg_for_manual_cars = mpg[mpg.trans.str.contains('manual')]
mpg_for_manual_cars.avg_miles.mean()

22.227272727272727

In [87]:
mpg_for_auto_cars.avg_miles.mean() > mpg_for_manual_cars.avg_miles.mean()

False

In [89]:
mpg.groupby('trans').avg_miles.mean()

trans
auto(av)      23.900000
auto(l3)      24.000000
auto(l4)      18.951807
auto(l5)      17.717949
auto(l6)      16.833333
auto(s4)      22.166667
auto(s5)      21.333333
auto(s6)      21.281250
manual(m5)    22.775862
manual(m6)    20.552632
Name: avg_miles, dtype: float64

In [ ]:
'''Joining and Merging
Copy the users and roles dataframes from the examples above. What do you think 
a right join would look like? An outer join? What happens if you drop the foreign keys from the dataframes 
and try to merge them?'''