In [2]:

[x + 3 for x in range(10) if x % 2 =0 and x < 7]

SyntaxError: invalid syntax (<ipython-input-2-1b3ae7259a81>, line 1)

In [1]:
3

21

In [1]:
word?

Object `word` not found.

In [ ]:
# Y change cell to code

In [ ]:
# M change cell to markdown

In [ ]:
# R change cell to raw

In [6]:
payrate_for_fangs = {'Google':400, 'Amazon':380, 'Facebook':350}

In [7]:
hours_worked = {'Google':6, 'Amazon':4, 'Facebook':10}

In [8]:
payment_received = payrate_for_fangs['Google'] * hours_worked['Google'] + payrate_for_fangs['Amazon'] * hours_worked['Amazon'] + payrate_for_fangs['Facebook'] * hours_worked['Facebook']

In [11]:
payment_received

7420

In [30]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [31]:
numbers_plus_one = numbers.append(1)
numbers_plus_one

In [ ]:
'''# 17 list comprehension problems in python

fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

# Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

# Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

# Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())
    
# Exercise 1 - rewrite the above example code using list comprehension syntax. Make a variable named uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]

# Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.

# Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']

# Exercise 5 - make a list that contains each fruit with more than 5 characters

# Exercise 6 - make a list that contains each fruit with exactly 5 characters

# Exercise 7 - Make a list that contains fruits that have less than 5 characters

# Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]

# Exercise 9 - Make a variable named fruits_with_letter_a that contains a list of only the fruits that contain the letter "a"

# Exercise 10 - Make a variable named even_numbers that holds only the even numbers 

# Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers

# Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers

# Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers

# Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals

# Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. Output is [4, 9, 16, etc...]

# Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd and negative.

# Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five. 

# BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list. *Hint* you may want to make or find a helper function that determines if a given number is prime or not.'''

In [33]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [35]:
# Exercise 1
uppercased_fruits = [fruit.upper() for fruit in fruits ]
uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [38]:
# Exercise 2
capitalized_fruits = [fruit.capitalize() for fruit in fruits]
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [71]:
# Exercise 3
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if fruit.count('a') + fruit.count('o') + fruit.count('u')
                                   + fruit.count('i') + fruit.count('e') > 2]
fruits_with_more_than_two_vowels

['guava', 'pineapple', 'mandarin orange']

In [74]:
# Exercise 4
fruits_with_only_two_vowels = [fruit for fruit in fruits if fruit.count('a') + fruit.count('o') + fruit.count('u')
                                   + fruit.count('i') + fruit.count('e') == 2]
fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']

In [47]:
# Exercise 5
each_fruit_with_more_than_5_char = [fruit for fruit in fruits if len(fruit) > 5]
each_fruit_with_more_than_5_char

['strawberry', 'pineapple', 'mandarin orange']

In [49]:
each_fruit_with_exactly_5_char = [fruit for fruit in fruits if len(fruit) == 5]
each_fruit_with_exactly_5_char

['mango', 'guava']

In [50]:
each_fruit_with_less_than_5_char = [fruit for fruit in fruits if len(fruit) < 5]
each_fruit_with_less_than_5_char

['kiwi']

In [51]:
# Exercise 8
number_of_characters_in_each_fruit = [len(fruit) for fruit in fruits]
number_of_characters_in_each_fruit

[5, 4, 10, 5, 9, 15]

In [58]:
# Exercise 9 
fruits_with_letter_a = [fruit for fruit in fruits if fruit.count('a') >= 1]
fruits_with_letter_a

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [59]:
# Exercise 10
even_numbers = [number for number in numbers if number % 2 == 0]
even_numbers

[2, 4, 6, 8, 10, 256, -8, -4, -2]

In [60]:
# Exercise 11
odd_numbers = [number for number in numbers if number % 2 != 0]
odd_numbers

[3, 5, 7, 9, 11, 13, 17, 19, 23, 5, -9]

In [61]:
# Exercise 12
positive_numbers = [number for number in numbers if number > 0]
positive_numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

In [62]:
# Exercise 13
negative_numbers = [number for number in numbers if number < 0]
negative_numbers

[-8, -4, -2, -9]

In [65]:
# Exercise 14 use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals
numbers_with_2_or_more_numerals = [number for number in numbers if number >= 10]

numbers_with_2_or_more_numerals

[10, 11, 13, 17, 19, 23, 256]

In [76]:
# Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. Output is [4, 9, 16, etc...]
numbers_squared = [number ** 2 for number in numbers]
numbers_squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81]

In [77]:
# Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd and negative.
odd_negative_numbers = [number for number in numbers if number % 2 != 0 and number < 0]
odd_negative_numbers

[-9]

In [78]:
# Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five. 
numbers_plus_5 = [number + 5 for number in numbers ]
numbers_plus_5

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 22, 24, 28, 261, -3, 1, 3, 10, -4]

In [ ]:
# Make a variable named "primes" that is a list containing the prime numbers in the numbers list.
# *Hint* you may want to make or find a helper function that determines if a given number is prime or not.'''
primes = [number for number in numbers if isprime(n) ]

In [79]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [80]:
len(students)

14

In [89]:
#How many students prefer light coffee? For each type of coffee roast?
light_coffee_students = [student for student in students if student["coffee_preference"] == "light"]
n_light = len(light_coffee_students)
n_light

3

In [94]:
Medium_coffee_students = [student for student in students if student["coffee_preference"] == "medium"]
n_Medium = len(Medium_coffee_students)
n_Medium

6

In [96]:
Dark_coffee_students = [student for student in students if student["coffee_preference"] == "dark"]
n_dark = len(Dark_coffee_students)
n_dark

5

In [107]:
# How many types of each pet are there?
unique_pets = [pet for student in students for pet in [pet['species'] for pet in student['pets']]]
len(set(unique_pets))

3

In [126]:
# 4 How many grades does each student have? Do they all have the same number of grades?
#len(students[0]['grades'])

grades_for_each_student = [len(student['grades']) for student in students]
                                                             
grades_for_each_student
len(set(grades_for_each_student))

1

In [125]:
# 5 What is each student's grade average?
average_grades_for_each_student = [sum(student['grades']) / len(student['grades']) for student in students]
                                                             
average_grades_for_each_student

[78.5,
 83.5,
 73.25,
 78.5,
 81.5,
 80.75,
 84.5,
 88.75,
 88.75,
 82.5,
 81.5,
 91.0,
 79.0,
 89.0]

In [128]:
# 6 How many pets does each student have?
pets_for_each_student = [len(student['pets']) for student in students]
pets_for_each_student

[1, 0, 1, 2, 3, 0, 1, 2, 2, 1, 2, 1, 1, 1]

In [195]:
n = 100
while n >= -10:
    print(n)
    n -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0
-5
-10

In [307]:
num = input('please type a number ')
num = int(num)
for n in range(1,11):
    print(f'{num} x {n} = {n * num}')

please type a number 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [303]:
for n in range(10):
    if n % 2 == 0:
        continue
    print('Here is an odd number: {}'.format(n))

Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9

In [316]:
num=input("Enter a number") 
num=int(num)
for i in range(1,11):
    print(str(i)+"*"+str(num)+"="+str(i*num))

Enter a number2
1*2=2
2*2=4
3*2=6
4*2=8
5*2=10
6*2=12
7*2=14
8*2=16
9*2=18
10*2=20

In [318]:
odd_num=""
while True:
    odd_num=input("Enter an odd number between 1 and 50")
    if odd_num.isdigit() and int(odd_num)%2==1 and int(odd_num)>1 and int(odd_num)<50:
        break

for i in range(1,50,2):

    if i==int(odd_num):
        print("Yikes! Skipping number: "+str(i))
        continue
    print("Here is an odd number: "+str(i))

Enter an odd number between 1 and 503
Here is an odd number: 1
Yikes! Skipping number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9
Here is an odd number: 11
Here is an odd number: 13
Here is an odd number: 15
Here is an odd number: 17
Here is an odd number: 19
Here is an odd number: 21
Here is an odd number: 23
Here is an odd number: 25
Here is an odd number: 27
Here is an odd number: 29
Here is an odd number: 31
Here is an odd number: 33
Here is an odd number: 35
Here is an odd number: 37
Here is an odd number: 39
Here is an odd number: 41
Here is an odd number: 43
Here is an odd number: 45
Here is an odd number: 47
Here is an odd number: 49

In [320]:
odd_num=""
while True:
    odd_num=input("Enter an odd number between 1 and 50")
    if odd_num.isdigit() and int(odd_num)%2==1 and int(odd_num)>1 and int(odd_num)<50:
        break

Enter an odd number between 1 and 502
Enter an odd number between 1 and 504
Enter an odd number between 1 and 501
Enter an odd number between 1 and 505

In [345]:
def is_two(n):
    if n == 2 or n == '2':
        return True
    else: return False

In [459]:

dataset = [{'name': 'age', 'type': 'int', 'data': [20, 25, 43, 11, 15, 53, 36]},
           {'name': 'is_vegetarian', 'type': 'boolean', 'data': [False, True, False, False, True, False, False]},
           {'name': 'shoe size', 'type': 'int', 'data': [8, 11, 7, 10, 7, 9, 10]},
           {'name': 'ISP', 'type': 'categorical', 'data': ['AT&T', 'Spectrum', 'Spectrum', 'Spectrum', 'AT&T', 'Spectrum', 'AT&T']},
           {'name': 'BMI', 'type': 'float', 'data': [29.9, 20.4, 23.3, 21.7, 22.2, 22.8, 27.0]}]

# print the means for the numeric data
for feature in dataset:
    if feature['type'] == 'categorical' or feature['type'] == 'boolean':
        print('{} is not numeric, skipping'.format(feature['name']))
        continue
    avg = sum(feature['data']) / len(feature['data'])
    print('{} average: {:.2f}'.format(feature['name'], avg))

age average: 29.00
is_vegetarian is not numeric, skipping
shoe size average: 8.86
ISP is not numeric, skipping
BMI average: 23.90

In [439]:
for letter in 'abcde':
    print(letter)

a
b
c
d
e

In [565]:

while True:
    user_input = input('Please input a number between 1 and 50 ')
    if user_input.isdigit() == True and 1 <= int(user_input) <= 50:
        break
print (user_input)
for i in range(1,50):
    if i % 2 == 0:
        continue
    elif i == int(user_input):
            print(f'skipping number {user_input}')
    else:
            print(f"{i} is an odd number")

Please input a number between 1 and 50 2
2
1 is an odd number
3 is an odd number
5 is an odd number
7 is an odd number
9 is an odd number
11 is an odd number
13 is an odd number
15 is an odd number
17 is an odd number
19 is an odd number
21 is an odd number
23 is an odd number
25 is an odd number
27 is an odd number
29 is an odd number
31 is an odd number
33 is an odd number
35 is an odd number
37 is an odd number
39 is an odd number
41 is an odd number
43 is an odd number
45 is an odd number
47 is an odd number
49 is an odd number

#

In [589]:
user_choice = input('Please input a positive number')
user_choice = int(user_choice)
while user_choice >= 1:
    print(user_choice)
    user_choice -= 1

Please input a positive number5
5
4
3
2
1

In [605]:
user_choice = input('please input a positive number ')
user_choice = int(user_choice)
for i in range(1, user_choice+1):
    print(" number | squared | cubed ")
    print(f"{i}       |{i**2}       | {i**3} ")

please input a positive number 5
 number | squared | cubed
1       |1       | 1
 number | squared | cubed
2       |4       | 8
 number | squared | cubed
3       |9       | 27
 number | squared | cubed
4       |16       | 64
 number | squared | cubed
5       |25       | 125

In [655]:
def is_consonant(i):
    if is_vowel(i):
        return False
    else: return True
is_consonant('a')

False

In [754]:
def cumsum(lst):
    s = lst.copy()
    for i in range(1, len(s)):
        s[i] += s[i-1]
    return s
cumsum([1, 2, 3, 4])

[1, 3, 6, 10]

In [758]:
def cumsum(lst):
    s = lst.copy()
    
    return s
cumsum([1, 3, 5, 8])

[1, 2, 3, 4, 6]

In [910]:
def twelveto24(str1): 
    if str1[-2:] == "AM" and str1[:2] == "12":
        return "00" + str1[2:-2] 
    elif str1[-2:] == "AM": 
        return str1[:-2] 
    elif str1[-2:] == "PM" and str1[:2] == "12": 
        return str1[:-2] 
    else: 
        return str(int(str1[:2]) + 12) + str1[2:5]

In [913]:
twelveto24('12:30AM')

'00:30'

In [948]:
import function_exercises
function_exercises.is_two(n)

False

In [949]:
from function_exercises import is_vowel

In [950]:
is_vowel('w')

False

In [951]:
from function_exercises import is_consonant as is_c

In [999]:
from itertools import chain

In [1000]:
chain('abc', '123')

In [1001]:
from itertools import islice

In [1002]:
islice('abcd', 2)

In [1028]:
from itertools import product as p
combs1 = list(p('abc', '123'))
combs1

[('a', '1'),
 ('a', '2'),
 ('a', '3'),
 ('b', '1'),
 ('b', '2'),
 ('b', '3'),
 ('c', '1'),
 ('c', '2'),
 ('c', '3')]

In [1029]:
from itertools import permutations as per
combs2 = list(per('abcd', 2))
combs2

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c')]

In [1191]:
from json import load
lis = load(open("profiles.json"))
lis
#len(lis)

[{'_id': '54e23c3e46ab53a440b580e8',
  'index': 0,
  'guid': '9962b468-ef3e-4993-b677-617469bc3008',
  'isActive': False,
  'balance': '$2,097.02',
  'picture': 'http://placehold.it/32x32',
  'age': 39,
  'eyeColor': 'blue',
  'name': 'Hebert Estes',
  'gender': 'male',
  'company': 'ANDRYX',
  'email': 'hebertestes@andryx.com',
  'phone': '+1 (866) 456-2268',
  'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
  'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
  'registered': '2014-11-10T01:44:03 +06:00',
  'latitude': -80.157843,
  'longitude': 161.93016,
  'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
  'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
   {'id': 1, 'name': 'Dennis Wilson'},
   {'id': 2, 'name': 'Lupe Howe'}],
  'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3ef5cc0d250968c212',
  'index': 1,
  'guid': '905f849d-49bf-4a57-b4f3-5d6e4bf1b04c',
  'isActive': False,
  'balance': '$3,654.02',
  'picture': 'http://placehold.it/32x32',
  'age': 30,
  'eyeColor': 'green',
  'name': 'Allison Wynn',
  'gender': 'male',
  'company': 'PHARMACON',
  'email': 'allisonwynn@pharmacon.com',
  'phone': '+1 (926) 525-3131',
  'address': '724 Brevoort Place, Lodoga, Indiana, 3880',
  'about': 'Esse quis cillum sunt occaecat ad et eu incididunt aliquip dolor. Adipisicing labore magna anim cillum nisi. Elit mollit consequat velit nulla cillum excepteur elit ullamco deserunt. Anim aliquip Lorem excepteur ad veniam et labore in qui ullamco. Occaecat sit do incididunt voluptate id magna ea amet.\r\n',
  'registered': '2014-06-10T13:41:26 +05:00',
  'latitude': 55.737207,
  'longitude': -167.177561,
  'tags': ['enim',
   'officia',
   'laboris',
   'irure',
   'veniam',
   'occaecat',
   'pariatur'],
  'friends': [{'id': 0, 'name': 'Curry Cox'},
   {'id': 1, 'name': 'Alma Dale'},
   {'id': 2, 'name': 'Barbara Mayo'}],
  'greeting': 'Hello, Allison Wynn! You have 19 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3e09cc6875638cd36b',
  'index': 2,
  'guid': '1b042d48-9cfa-4db5-8b60-4104165591c3',
  'isActive': True,
  'balance': '$1,536.02',
  'picture': 'http://placehold.it/32x32',
  'age': 31,
  'eyeColor': 'brown',
  'name': 'Jacobs Floyd',
  'gender': 'male',
  'company': 'QUONK',
  'email': 'jacobsfloyd@quonk.com',
  'phone': '+1 (853) 537-3315',
  'address': '941 Cox Place, Bluffview, Georgia, 5882',
  'about': 'Deserunt adipisicing proident exercitation cillum anim consectetur labore exercitation. Commodo reprehenderit laborum enim exercitation. Ullamco nulla culpa aliqua nisi fugiat consectetur deserunt nostrud in eu.\r\n',
  'registered': '2014-07-30T03:17:32 +05:00',
  'latitude': 30.215667,
  'longitude': 68.831905,
  'tags': ['est', 'aute', 'laborum', 'sint', 'anim', 'sit', 'consectetur'],
  'friends': [{'id': 0, 'name': 'Robles Chan'},
   {'id': 1, 'name': 'Whitfield Strickland'},
   {'id': 2, 'name': 'Lina Melton'}],
  'greeting': 'Hello, Jacobs Floyd! You have 5 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3e54e4094147a3b1da',
  'index': 3,
  'guid': '69eb3454-8acc-46f1-a636-c6df00dfb542',
  'isActive': False,
  'balance': '$3,919.64',
  'picture': 'http://placehold.it/32x32',
  'age': 20,
  'eyeColor': 'green',
  'name': 'Fay Hammond',
  'gender': 'female',
  'company': 'INRT',
  'email': 'fayhammond@inrt.com',
  'phone': '+1 (922) 429-2592',
  'address': '518 Randolph Street, Whitestone, Arizona, 8189',
  'about': 'Aliqua sunt exercitation quis cupidatat fugiat nulla laboris occaecat ut reprehenderit qui incididunt. Amet excepteur qui amet mollit sint enim velit est dolor eu. Velit labore ea aute ipsum consequat culpa cupidatat excepteur aliqua. Sit commodo id est deserunt commodo. Labore sit deserunt enim in dolore incididunt. Officia qui est veniam cillum consequat minim duis Lorem esse magna culpa cupidatat cupidatat enim. Amet eiusmod elit qui reprehenderit commodo quis.\r\n',
  'registered': '2015-01-30T08:05:38 +06:00',
  'latitude': 33.825844,
  'longitude': -65.969538,
  'tags': ['aliqua', 'esse', 'sint', 'pariatur', 'commodo', 'do', 'anim'],
  'friends': [{'id': 0, 'name': 'Dudley Booker'},
   {'id': 1, 'name': 'Esmeralda Tyler'},
   {'id': 2, 'name': 'Rosa Hampton'}],
  'greeting': 'Hello, Fay Hammond! You have 10 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3e177caf5567ba87ac',
  'index': 4,
  'guid': '97962c85-7700-4ffa-a01e-2fcbc147fd81',
  'isActive': False,
  'balance': '$3,681.39',
  'picture': 'http://placehold.it/32x32',
  'age': 39,
  'eyeColor': 'green',
  'name': 'Chasity Marsh',
  'gender': 'female',
  'company': 'WAZZU',
  'email': 'chasitymarsh@wazzu.com',
  'phone': '+1 (976) 425-2362',
  'address': '604 Just Court, Eastvale, Federated States Of Micronesia, 8644',
  'about': 'Irure excepteur consequat esse qui tempor deserunt nulla fugiat. Ut excepteur do veniam dolore dolor proident sunt voluptate ad ipsum nisi. Lorem proident deserunt Lorem cupidatat dolor nulla qui id aliqua. Et nulla laborum deserunt tempor ad culpa. Ullamco occaecat adipisicing dolore laborum laborum duis aliqua nisi irure ex. Incididunt tempor Lorem quis dolore.\r\n',
  'registered': '2014-07-31T06:03:19 +05:00',
  'latitude': -31.660978,
  'longitude': 37.559095,
  'tags': ['aliquip', 'duis', 'irure', 'amet', 'aliquip', 'dolore', 'esse'],
  'friends': [{'id': 0, 'name': 'Kristina Glover'},
   {'id': 1, 'name': 'Ora Christian'},
   {'id': 2, 'name': 'Jacklyn Joseph'}],
  'greeting': 'Hello, Chasity Marsh! You have 9 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3eaffbb506aa15ec1c',
  'index': 5,
  'guid': 'fc3e04d1-44c2-449e-891a-d4f8053d14a4',
  'isActive': True,
  'balance': '$1,694.42',
  'picture': 'http://placehold.it/32x32',
  'age': 30,
  'eyeColor': 'brown',
  'name': 'Camacho Cortez',
  'gender': 'male',
  'company': 'EARTHWAX',
  'email': 'camachocortez@earthwax.com',
  'phone': '+1 (869) 528-2019',
  'address': '101 Haring Street, Nicut, Louisiana, 1473',
  'about': 'Qui ad commodo elit voluptate cupidatat exercitation amet ea laborum sunt aliquip nisi irure. Veniam voluptate eiusmod sint aliquip ea. Voluptate voluptate Lorem nulla laborum eiusmod occaecat et nostrud sint in cillum reprehenderit magna nulla. Lorem id fugiat laborum qui mollit amet. Culpa officia ipsum nisi culpa in. Fugiat quis eu cupidatat non culpa in ea velit pariatur non in excepteur.\r\n',
  'registered': '2014-03-17T12:04:00 +05:00',
  'latitude': 74.434627,
  'longitude': 69.527088,
  'tags': ['et', 'sit', 'in', 'id', 'ullamco', 'elit', 'laborum'],
  'friends': [{'id': 0, 'name': 'Sexton Tillman'},
   {'id': 1, 'name': 'Boone Steele'},
   {'id': 2, 'name': 'Elvia Ward'}],
  'greeting': 'Hello, Camacho Cortez! You have 19 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3e0fd8074c2ca52667',
  'index': 6,
  'guid': 'af8d9a03-fde9-4039-b20c-c4708d4cfc3c',
  'isActive': False,
  'balance': '$1,214.10',
  'picture': 'http://placehold.it/32x32',
  'age': 35,
  'eyeColor': 'green',
  'name': 'Avery Flynn',
  'gender': 'male',
  'company': 'TERSANKI',
  'email': 'averyflynn@tersanki.com',
  'phone': '+1 (966) 404-2471',
  'address': '569 Oakland Place, Beyerville, Puerto Rico, 2395',
  'about': 'Minim consequat anim ad et tempor et pariatur cillum ut. Ea Lorem consectetur sunt aliquip ea minim minim id dolore incididunt qui magna. Magna velit labore dolore voluptate ut aliquip esse qui est ipsum cupidatat duis enim. Sunt esse eiusmod cupidatat duis quis sunt anim dolore adipisicing enim dolore aliqua mollit. Commodo sit ad eiusmod reprehenderit.\r\n',
  'registered': '2014-04-13T10:25:03 +05:00',
  'latitude': -89.879409,
  'longitude': 143.441709,
  'tags': ['quis',
   'esse',
   'Lorem',
   'minim',
   'nostrud',
   'voluptate',
   'laborum'],
  'friends': [{'id': 0, 'name': 'Ball Henson'},
   {'id': 1, 'name': 'Dalton Mccoy'},
   {'id': 2, 'name': 'Carolina Sharp'}],
  'greeting': 'Hello, Avery Flynn! You have 13 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3eb112d96e4204914d',
  'index': 7,
  'guid': '95f1c020-f9eb-4a29-b236-e766759d89d0',
  'isActive': False,
  'balance': '$2,930.31',
  'picture': 'http://placehold.it/32x32',
  'age': 23,
  'eyeColor': 'blue',
  'name': 'Michael Cash',
  'gender': 'male',
  'company': 'ORBIXTAR',
  'email': 'michaelcash@orbixtar.com',
  'phone': '+1 (996) 439-3660',
  'address': '808 Duryea Court, Downsville, Northern Mariana Islands, 2154',
  'about': 'Minim proident minim consectetur nostrud dolor reprehenderit. Ea est proident non do cillum eu est dolor Lorem id. Tempor enim incididunt consequat voluptate nulla ipsum voluptate id. Incididunt enim laboris nostrud in exercitation est culpa nulla velit.\r\n',
  'registered': '2014-05-24T17:56:54 +05:00',
  'latitude': -86.621367,
  'longitude': -4.06197,
  'tags': ['eu', 'sit', 'dolore', 'culpa', 'Lorem', 'in', 'esse'],
  'friends': [{'id': 0, 'name': 'Rodgers Nolan'},
   {'id': 1, 'name': 'Jewel Marks'},
   {'id': 2, 'name': 'Sue Mejia'}],
  'greeting': 'Hello, Michael Cash! You have 17 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3ef30f14d0e5afddf3',
  'index': 8,
  'guid': 'bde2d56f-2488-40d0-a7d2-21019ee8a18b',
  'isActive': False,
  'balance': '$1,944.15',
  'picture': 'http://placehold.it/32x32',
  'age': 25,
  'eyeColor': 'green',
  'name': 'Madeleine Bray',
  'gender': 'female',
  'company': 'KIDSTOCK',
  'email': 'madeleinebray@kidstock.com',
  'phone': '+1 (820) 541-2969',
  'address': '684 Stratford Road, Rosine, District Of Columbia, 7177',
  'about': 'Ullamco ea esse ullamco commodo quis amet ut ad. Sint eiusmod ullamco minim nostrud amet in ex adipisicing velit cillum Lorem enim nostrud. Deserunt esse incididunt eiusmod commodo ullamco id pariatur tempor duis laboris Lorem. Laboris magna Lorem quis laborum ullamco. Dolor minim magna ut occaecat in consequat consequat in commodo pariatur voluptate pariatur dolore. Quis exercitation cillum labore cillum laborum. Dolore est reprehenderit anim reprehenderit consectetur sit quis ea ut veniam.\r\n',
  'registered': '2014-08-11T08:54:06 +05:00',
  'latitude': 45.118798,
  'longitude': -7.698707,
  'tags': ['id',
   'magna',
   'excepteur',
   'excepteur',
   'excepteur',
   'duis',
   'excepteur'],
  'friends': [{'id': 0, 'name': 'Herrera Doyle'},
   {'id': 1, 'name': 'Berger Fisher'},
   {'id': 2, 'name': 'Chang Coffey'}],
  'greeting': 'Hello, Madeleine Bray! You have 2 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3ebd80e9c26b057fa3',
  'index': 9,
  'guid': '75991ca5-05ed-499e-bbb5-f057f86d05d7',
  'isActive': True,
  'balance': '$2,839.22',
  'picture': 'http://placehold.it/32x32',
  'age': 37,
  'eyeColor': 'blue',
  'name': 'Corine French',
  'gender': 'female',
  'company': 'INTRAWEAR',
  'email': 'corinefrench@intrawear.com',
  'phone': '+1 (987) 573-3164',
  'address': '964 Clara Street, Snyderville, Oklahoma, 3627',
  'about': 'Sint cillum laborum labore duis fugiat voluptate adipisicing. Ad culpa et et ea incididunt nulla excepteur officia. Cillum veniam amet ipsum reprehenderit do eiusmod aliqua aute nisi Lorem consectetur esse in incididunt.\r\n',
  'registered': '2014-06-25T20:17:13 +05:00',
  'latitude': -37.637422,
  'longitude': 154.195523,
  'tags': ['laboris',
   'in',
   'dolore',
   'mollit',
   'velit',
   'laboris',
   'excepteur'],
  'friends': [{'id': 0, 'name': 'Greta Hill'},
   {'id': 1, 'name': 'Cline Curry'},
   {'id': 2, 'name': 'Branch Sawyer'}],
  'greeting': 'Hello, Corine French! You have 18 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3e6d89c09f5507e7dd',
  'index': 10,
  'guid': '87cffc18-3acf-40c5-8708-1bb93f1b68de',
  'isActive': True,
  'balance': '$2,467.31',
  'picture': 'http://placehold.it/32x32',
  'age': 29,
  'eyeColor': 'blue',
  'name': 'Trudy Cummings',
  'gender': 'female',
  'company': 'SPLINX',
  'email': 'trudycummings@splinx.com',
  'phone': '+1 (925) 403-2797',
  'address': '558 Charles Place, Tedrow, California, 9832',
  'about': 'Non id adipisicing deserunt non magna ex adipisicing sint esse sint. Laborum ea nostrud Lorem voluptate quis proident eu nisi exercitation in. Consequat occaecat proident officia anim.\r\n',
  'registered': '2014-03-13T17:54:31 +05:00',
  'latitude': -36.185131,
  'longitude': -37.774906,
  'tags': ['aute', 'occaecat', 'ea', 'pariatur', 'consectetur', 'magna', 'ea'],
  'friends': [{'id': 0, 'name': 'Amber Gates'},
   {'id': 1, 'name': 'Barron Walsh'},
   {'id': 2, 'name': 'Nell Bolton'}],
  'greeting': 'Hello, Trudy Cummings! You have 2 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3e4192cf53edd67c99',
  'index': 11,
  'guid': '5a5496f1-a027-4c21-85da-c399234cd9a5',
  'isActive': True,
  'balance': '$3,304.99',
  'picture': 'http://placehold.it/32x32',
  'age': 21,
  'eyeColor': 'brown',
  'name': 'Peggy Mayer',
  'gender': 'female',
  'company': 'ACCUPRINT',
  'email': 'peggymayer@accuprint.com',
  'phone': '+1 (854) 428-2585',
  'address': '830 Willmohr Street, Crenshaw, Missouri, 6032',
  'about': 'Aliqua sit enim cillum aliquip ad proident excepteur in consectetur eiusmod. Ipsum sint cillum veniam eiusmod aute sunt et do est tempor. Lorem elit dolor dolore incididunt cillum. Enim occaecat minim sunt cillum est velit cillum deserunt tempor eu.\r\n',
  'registered': '2014-09-14T07:06:49 +05:00',
  'latitude': 48.323912,
  'longitude': 22.184821,
  'tags': ['commodo', 'esse', 'ad', 'ullamco', 'ea', 'sint', 'ipsum'],
  'friends': [{'id': 0, 'name': 'Hopkins Mccall'},
   {'id': 1, 'name': 'Nielsen Weeks'},
   {'id': 2, 'name': 'Dale Knowles'}],
  'greeting': 'Hello, Peggy Mayer! You have 13 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3eedcc65f0ec3a5496',
  'index': 12,
  'guid': '759a21c4-5f9c-4189-9c50-c9d8a9f31037',
  'isActive': False,
  'balance': '$3,844.42',
  'picture': 'http://placehold.it/32x32',
  'age': 40,
  'eyeColor': 'brown',
  'name': 'Chan Hurley',
  'gender': 'male',
  'company': 'ZEAM',
  'email': 'chanhurley@zeam.com',
  'phone': '+1 (917) 475-3705',
  'address': '915 Channel Avenue, Clinton, North Dakota, 6244',
  'about': 'Voluptate exercitation ut anim ex adipisicing ut do officia incididunt fugiat cupidatat aliqua. Cillum ullamco irure dolore est consectetur non consequat. Nulla ullamco eu irure qui dolor magna ipsum id in enim voluptate aute. Officia aliqua dolore ut reprehenderit Lorem cillum. Cillum reprehenderit eu cillum aliqua sint eiusmod cupidatat culpa elit in. Fugiat voluptate reprehenderit amet anim qui nisi velit aliqua proident anim.\r\n',
  'registered': '2014-03-01T14:51:23 +06:00',
  'latitude': 85.901051,
  'longitude': -74.986179,
  'tags': ['minim', 'veniam', 'sit', 'aute', 'irure', 'non', 'eiusmod'],
  'friends': [{'id': 0, 'name': 'Reese Grant'},
   {'id': 1, 'name': 'Jenna Kinney'},
   {'id': 2, 'name': 'Rhea May'}],
  'greeting': 'Hello, Chan Hurley! You have 7 unread messages.',
  'favoriteFruit': 'apple'},
 {'_id': '54e23c3eb813e66c6d33aa82',
  'index': 13,
  'guid': '6fd14a8e-3158-48eb-a7e1-93fe57b74746',
  'isActive': True,
  'balance': '$3,594.99',
  'picture': 'http://placehold.it/32x32',
  'age': 40,
  'eyeColor': 'blue',
  'name': 'Diaz Pena',
  'gender': 'male',
  'company': 'SUREPLEX',
  'email': 'diazpena@sureplex.com',
  'phone': '+1 (986) 511-3050',
  'address': '184 Kingsway Place, Grantville, Michigan, 2421',
  'about': 'Enim elit amet officia consectetur do Lorem reprehenderit cupidatat exercitation velit. Ex tempor esse consectetur dolore aute et. Cupidatat duis nulla in incididunt nulla ullamco non magna officia commodo anim. Labore quis ullamco est deserunt excepteur duis nostrud deserunt cillum proident. Non eiusmod consectetur pariatur deserunt irure quis exercitation ex incididunt quis dolore pariatur sunt irure. Eu do fugiat laboris tempor culpa.\r\n',
  'registered': '2014-04-19T20:43:12 +05:00',
  'latitude': 6.606991,
  'longitude': 81.593748,
  'tags': ['excepteur',
   'elit',
   'ullamco',
   'excepteur',
   'ad',
   'quis',
   'dolore'],
  'friends': [{'id': 0, 'name': 'Mcmillan Knox'},
   {'id': 1, 'name': 'Flossie Dixon'},
   {'id': 2, 'name': 'Sears Carson'}],
  'greeting': 'Hello, Diaz Pena! You have 13 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3e502a2f526b689c3e',
  'index': 14,
  'guid': '459cc82d-7878-42cb-b9c6-073506380036',
  'isActive': True,
  'balance': '$2,940.24',
  'picture': 'http://placehold.it/32x32',
  'age': 40,
  'eyeColor': 'brown',
  'name': 'Heath Castaneda',
  'gender': 'male',
  'company': 'NETPLODE',
  'email': 'heathcastaneda@netplode.com',
  'phone': '+1 (944) 478-3741',
  'address': '278 Village Road, Sunnyside, Massachusetts, 7496',
  'about': 'Consectetur mollit cupidatat ex consectetur eiusmod ut. Cupidatat anim cupidatat cupidatat minim ipsum et quis amet proident pariatur. Do consectetur fugiat quis nisi non. Ut eu consequat consequat in ullamco eiusmod quis cillum sunt dolore anim. Non irure aliqua aliqua enim elit labore consequat.\r\n',
  'registered': '2014-07-30T21:38:43 +05:00',
  'latitude': 69.928876,
  'longitude': 33.649878,
  'tags': ['elit', 'commodo', 'ut', 'ullamco', 'ullamco', 'velit', 'ullamco'],
  'friends': [{'id': 0, 'name': 'Dora Mack'},
   {'id': 1, 'name': 'Christensen Camacho'},
   {'id': 2, 'name': 'Castro Kelly'}],
  'greeting': 'Hello, Heath Castaneda! You have 12 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3e69d22e49c7fe62de',
  'index': 15,
  'guid': '33d2bbe5-d6f7-4844-88fc-b9f6af63b373',
  'isActive': False,
  'balance': '$3,062.41',
  'picture': 'http://placehold.it/32x32',
  'age': 38,
  'eyeColor': 'brown',
  'name': 'Greer Blankenship',
  'gender': 'male',
  'company': 'QUALITERN',
  'email': 'greerblankenship@qualitern.com',
  'phone': '+1 (957) 482-3874',
  'address': '557 Ingraham Street, Brambleton, South Dakota, 8482',
  'about': 'Non in excepteur nostrud consectetur. Qui non consectetur officia incididunt elit laboris exercitation exercitation est minim veniam ullamco dolore. Eu sit aute culpa ex sunt amet. Ut et amet Lorem sunt anim pariatur.\r\n',
  'registered': '2014-03-30T21:39:41 +05:00',
  'latitude': -71.093388,
  'longitude': 65.740255,
  'tags': ['enim',
   'eiusmod',
   'Lorem',
   'reprehenderit',
   'nisi',
   'anim',
   'sunt'],
  'friends': [{'id': 0, 'name': 'Woods Norman'},
   {'id': 1, 'name': 'Marilyn Haney'},
   {'id': 2, 'name': 'Webster Nielsen'}],
  'greeting': 'Hello, Greer Blankenship! You have 7 unread messages.',
  'favoriteFruit': 'banana'},
 {'_id': '54e23c3e42676228c442a669',
  'index': 16,
  'guid': 'e44604f0-c7a8-4b89-bda3-0f4710ebe28a',
  'isActive': False,
  'balance': '$3,067.82',
  'picture': 'http://placehold.it/32x32',
  'age': 32,
  'eyeColor': 'green',
  'name': 'Coffey Hayes',
  'gender': 'male',
  'company': 'INQUALA',
  'email': 'coffeyhayes@inquala.com',
  'phone': '+1 (880) 451-3490',
  'address': '490 Durland Place, Craig, Tennessee, 5034',
  'about': 'Est esse irure Lorem ullamco veniam fugiat laborum veniam excepteur. Ad enim pariatur nostrud excepteur et nostrud velit dolore ex enim cillum in aliquip fugiat. Nulla laborum exercitation irure magna elit laborum magna ad excepteur. Cillum pariatur Lorem eiusmod ad dolore eiusmod veniam do minim laborum in dolor. Reprehenderit elit ad id voluptate Lorem Lorem dolor cupidatat excepteur. Proident minim ea aute nulla.\r\n',
  'registered': '2014-04-01T23:04:39 +05:00',
  'latitude': -30.662644,
  'longitude': 59.806684,
  'tags': ['duis', 'est', 'in', 'officia', 'nostrud', 'occaecat', 'mollit'],
  'friends': [{'id': 0, 'name': 'Suarez Perry'},
   {'id': 1, 'name': 'Marlene Sheppard'},
   {'id': 2, 'name': 'Cohen Yates'}],

In [1192]:
len([d for d in lis if d['isActive'] == True])

9

In [1193]:
len([d for d in lis if d['isActive'] == False])

10

In [1189]:
def handle_balance(s):
    return float(s[1:].replace(',', ''))
balances = [handle_balance(d['balance']) for d in lis]
total_balance = sum(balances)
total_balance

52667.02

In [1252]:
avg_balance = total_balance / len(lis)
avg_balance

2771.9484210526316

{'_id': '54e23c3e46ab53a440b580e8',
 'index': 0,
 'guid': '9962b468-ef3e-4993-b677-617469bc3008',
 'isActive': False,
 'balance': '$2,097.02',
 'picture': 'http://placehold.it/32x32',
 'age': 39,
 'eyeColor': 'blue',
 'name': 'Hebert Estes',
 'gender': 'male',
 'company': 'ANDRYX',
 'email': 'hebertestes@andryx.com',
 'phone': '+1 (866) 456-2268',
 'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
 'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
 'registered': '2014-11-10T01:44:03 +06:00',
 'latitude': -80.157843,
 'longitude': 161.93016,
 'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
 'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
  {'id': 1, 'name': 'Dennis Wilson'},
  {'id': 2, 'name': 'Lupe Howe'}],
 'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
 'favoriteFruit': 'strawberry'}

In [1253]:
user_with_lowest_balance = lis[0]
user_with_lowest_balance
for d in lis[1:]:
    if handle_balance(d['balance']) < handle_balance(user_with_lowest_balance['balance']):
        user_with_lowest_balance = d
user_with_lowest_balance

{'_id': '54e23c3e0fd8074c2ca52667',
 'index': 6,
 'guid': 'af8d9a03-fde9-4039-b20c-c4708d4cfc3c',
 'isActive': False,
 'balance': '$1,214.10',
 'picture': 'http://placehold.it/32x32',
 'age': 35,
 'eyeColor': 'green',
 'name': 'Avery Flynn',
 'gender': 'male',
 'company': 'TERSANKI',
 'email': 'averyflynn@tersanki.com',
 'phone': '+1 (966) 404-2471',
 'address': '569 Oakland Place, Beyerville, Puerto Rico, 2395',
 'about': 'Minim consequat anim ad et tempor et pariatur cillum ut. Ea Lorem consectetur sunt aliquip ea minim minim id dolore incididunt qui magna. Magna velit labore dolore voluptate ut aliquip esse qui est ipsum cupidatat duis enim. Sunt esse eiusmod cupidatat duis quis sunt anim dolore adipisicing enim dolore aliqua mollit. Commodo sit ad eiusmod reprehenderit.\r\n',
 'registered': '2014-04-13T10:25:03 +05:00',
 'latitude': -89.879409,
 'longitude': 143.441709,
 'tags': ['quis', 'esse', 'Lorem', 'minim', 'nostrud', 'voluptate', 'laborum'],
 'friends': [{'id': 0, 'name': 'Ball Henson'},
  {'id': 1, 'name': 'Dalton Mccoy'},
  {'id': 2, 'name': 'Carolina Sharp'}],
 'greeting': 'Hello, Avery Flynn! You have 13 unread messages.',
 'favoriteFruit': 'banana'}

In [1181]:
user_with_highest_balance = lis[0]
user_with_highest_balance
for d in lis[1:]:
    if handle_balance(d['balance']) > handle_balance(user_with_highest_balance['balance']):
        user_with_highest_balance = d
user_with_highest_balance

{'_id': '54e23c3e54e4094147a3b1da',
 'index': 3,
 'guid': '69eb3454-8acc-46f1-a636-c6df00dfb542',
 'isActive': False,
 'balance': '$3,919.64',
 'picture': 'http://placehold.it/32x32',
 'age': 20,
 'eyeColor': 'green',
 'name': 'Fay Hammond',
 'gender': 'female',
 'company': 'INRT',
 'email': 'fayhammond@inrt.com',
 'phone': '+1 (922) 429-2592',
 'address': '518 Randolph Street, Whitestone, Arizona, 8189',
 'about': 'Aliqua sunt exercitation quis cupidatat fugiat nulla laboris occaecat ut reprehenderit qui incididunt. Amet excepteur qui amet mollit sint enim velit est dolor eu. Velit labore ea aute ipsum consequat culpa cupidatat excepteur aliqua. Sit commodo id est deserunt commodo. Labore sit deserunt enim in dolore incididunt. Officia qui est veniam cillum consequat minim duis Lorem esse magna culpa cupidatat cupidatat enim. Amet eiusmod elit qui reprehenderit commodo quis.\r\n',
 'registered': '2015-01-30T08:05:38 +06:00',
 'latitude': 33.825844,
 'longitude': -65.969538,
 'tags': ['aliqua', 'esse', 'sint', 'pariatur', 'commodo', 'do', 'anim'],
 'friends': [{'id': 0, 'name': 'Dudley Booker'},
  {'id': 1, 'name': 'Esmeralda Tyler'},
  {'id': 2, 'name': 'Rosa Hampton'}],
 'greeting': 'Hello, Fay Hammond! You have 10 unread messages.',
 'favoriteFruit': 'banana'}

In [1180]:
from collections import Counter
Counter([d['favoriteFruit'] for d in lis])

fruit_counts = {}
for d in lis:
    fruit = d['favoriteFruit']
    if fruit in fruit_counts:
        fruit_counts[fruit] += 1
    else:
        fruit_counts[fruit] = 1
fruit_counts

{'strawberry': 9, 'apple': 4, 'banana': 6}

'5'

SyntaxError: invalid syntax (<ipython-input-1197-c746c6393a4b>, line 1)

In [1236]:
greetings = [d['greeting'] for d in lis]
greetings
res = list(map(lambda sub:int(''.join( 
      [ele for ele in sub if ele.isnumeric()])), greetings)) 
res
total = sum(i for i in res)
total

210

In [1230]:
total = sum(i for i in res)
total

210

In [1243]:
greetings = [d['greeting'] for d in lis]
def extract_digits(s):
    return int(''.join([c for c in s if c.isdigit()]))
n_unread_messages = [extract_digits(greeting) for greeting in greetings]
sum(n_unread_messages)

210

In [1249]:
def extract_digits(s):
    return int(''.join([c for c in s if c.isdigit()]))
extract_digits('ghe45d')

45

In [1314]:
with open('4.6_import_exercises.py', 'r') as f:
    contents = f.readlines()
    for line in contents:
        print(line)

import function_exercises

function_exercises.is_two(n)



from function_exercises import is_vowel



from function_exercises import is_consonant as is_c



# 1.How many different ways can you combine the letters from "abc" with the numbers 1, 2, and 3?



from itertools import product as p

combinations = list(p('abc', '123'))

combinations



# 2. How many different ways can you combine two of the letters from "abcd"?



from itertools import permutations as per

combs2 = list(per('abcd', 2))

combs2





from json import load

lis = load(open("profiles.json"))

lis



len(lis)



len([d for d in lis if d['isActive'] == True])



len([d for d in lis if d['isActive'] == False])



def handle_balance(s):

    return float(s[1:].replace(',', ''))

balances = [handle_balance(d['balance']) for d in lis]

total_balance = sum(balances)

total_balance





avg_balance = total_balance / len(lis)

avg_balance



user_with_lowest_balance = lis[0]

user_with_lowest_balance

for d in lis[1:]:

    if handle_balance(d['balance']) < handle_balance(user_with_lowest_balance['balance']):

        user_with_lowest_balance = d

user_with_lowest_balance



user_with_highest_balance = lis[0]

user_with_highest_balance

for d in lis[1:]:

    if handle_balance(d['balance']) > handle_balance(user_with_highest_balance['balance']):

        user_with_highest_balance = d

user_with_highest_balance



from collections import Counter

Counter([d['favoriteFruit'] for d in lis])



fruit_counts = {}

for d in lis:

    fruit = d['favoriteFruit']

    if fruit in fruit_counts:

        fruit_counts[fruit] += 1

    else:

        fruit_counts[fruit] = 1

fruit_counts'''





greetings = [d['greeting'] for d in lis]

greetings

res = list(map(lambda sub:int(''.join(

      [ele for ele in sub if ele.isnumeric()])), greetings))

res

total = sum(i for i in res)

total

In [1322]:
with open('4.6_import_exercises.py') as f:
    contents = f.readlines()
    for i, line in enumerate(contents, start = 1):
        print(i, line)

1 import function_exercises

2 function_exercises.is_two(n)

3

4 from function_exercises import is_vowel

5

6 from function_exercises import is_consonant as is_c

7

8 # 1.How many different ways can you combine the letters from "abc" with the numbers 1, 2, and 3?

9

10 from itertools import product as p

11 combinations = list(p('abc', '123'))

12 combinations

13

14 # 2. How many different ways can you combine two of the letters from "abcd"?

15

16 from itertools import permutations as per

17 combs2 = list(per('abcd', 2))

18 combs2

19

20

21 from json import load

22 lis = load(open("profiles.json"))

23 lis

24

25 len(lis)

26

27 len([d for d in lis if d['isActive'] == True])

28

29 len([d for d in lis if d['isActive'] == False])

30

31 def handle_balance(s):

32     return float(s[1:].replace(',', ''))

33 balances = [handle_balance(d['balance']) for d in lis]

34 total_balance = sum(balances)

35 total_balance

36

37

38 avg_balance = total_balance / len(lis)

39 avg_balance

40

41 user_with_lowest_balance = lis[0]

42 user_with_lowest_balance

43 for d in lis[1:]:

44     if handle_balance(d['balance']) < handle_balance(user_with_lowest_balance['balance']):

45         user_with_lowest_balance = d

46 user_with_lowest_balance

47

48 user_with_highest_balance = lis[0]

49 user_with_highest_balance

50 for d in lis[1:]:

51     if handle_balance(d['balance']) > handle_balance(user_with_highest_balance['balance']):

52         user_with_highest_balance = d

53 user_with_highest_balance

54

55 from collections import Counter

56 Counter([d['favoriteFruit'] for d in lis])

57

58 fruit_counts = {}

59 for d in lis:

60     fruit = d['favoriteFruit']

61     if fruit in fruit_counts:

62         fruit_counts[fruit] += 1

63     else:

64         fruit_counts[fruit] = 1

65 fruit_counts'''

66

67

68 greetings = [d['greeting'] for d in lis]

69 greetings

70 res = list(map(lambda sub:int(''.join(

71       [ele for ele in sub if ele.isnumeric()])), greetings))

72 res

73 total = sum(i for i in res)

74 total

In [1272]:
grocery_list = ['strawberry', 'banana', 'orange']
file_contents == grocery_list
file_contents

['strawberry', 'banana', 'orange']

In [1367]:
grocery_list = ['strawberry', 'banana', 'orange', 'spinach', 'blueberries']

def make_grocery_list(grocery_list):
    with open("my_grocery_list.txt","w") as f:
        for item in grocery_list:
            f.write(item + '/n')
make_grocery_list(grocery_list)

In [1368]:
def show_grocery_list():
    with open("my_grocery_list.txt") as f:
        contents = f.readlines()
        for item in contents:
            print(item)
show_grocery_list()

strawberry/nbanana/norange/nspinach/nblueberries/n

In [1369]:
def show_grocery_list():
     with open("my_grocery_list.txt") as f:
            contents = f.read()
            print(contents)
show_grocery_list()

strawberry/nbanana/norange/nspinach/nblueberries/n

In [1583]:
print('~~~ Welcome to your terminal checkbook! ~~~')

def menu():
    print('''What would you like to do?
    
    1) view current balance
    2) record a debit (withdraw)
    3) record a credit (deposit)
    4) exit''')  
menu()

~~~ Welcome to your terminal checkbook! ~~~
What would you like to do?

    1) view current balance
    2) record a debit (withdraw)
    3) record a credit (deposit)
    4) exit

In [1584]:
def current_balance():
    with open("account_balance.txt") as f:
        balances = f.readlines()
    balance=balances[-1]
    print(balance)
   
    '''for balance in balances:
        balance_in_nums.append(float(balance.replace("\n", "")))
    return  sum(balance_in_nums)
    '''
def current_balance

KeyboardInterrupt:

Type Markdown and LaTeX:  𝛼2

In [1586]:
grocery_list = ["flax oil", "chia seed", "walnuts", "spinach", "yoghurt", "blueberries"]
grocery_list[-1]

'blueberries'

'100'

In [1811]:
def current_balance():
    with open("account_balance.txt") as f:
        balances = f.readlines()
        balance = balances[-1]
    return balance


def add_balance(current_balance):
    with open("account_balance.txt","a") as f:
        f.write("\n")
        f.write(str(current_balance))

    
print('~~~ Welcome to your terminal checkbook! ~~~')

def menu():
    print('''What would you like to do?
    
    1) view current balance
    2) record a debit (withdraw)
    3) record a credit (deposit)
    4) exit''')  




while True:
    menu()
    user_choice = input("Please choose a number between 1 and 4 ")
    user_choice_int=int(user_choice)
    balance = int(current_balance())
    
    if (user_choice.isdigit() == False or  user_choice_int< 1 or user_choice_int > 4):
        print(f"{user_choice_int} is nice, but it is not a valid number")        
        continue
    elif user_choice_int == 1:
        print(f'Your current balance is {balance}')
    elif user_choice_int == 2:
        transaction = input("How much is the debit?")
        balance -= int(transaction)
        add_balance(balance)
    elif user_choice_int == 3:
        transaction = input("How much is the credit?")
        balance += int(transaction)
        add_balance(balance)
    else:
        print('Thanks, have a great day!')
        break

~~~ Welcome to your terminal checkbook! ~~~
What would you like to do?

    1) view current balance
    2) record a debit (withdraw)
    3) record a credit (deposit)
    4) exit
Please choose a number between 1 and 4 2
How much is the debit?2
What would you like to do?

    1) view current balance
    2) record a debit (withdraw)
    3) record a credit (deposit)
    4) exit
Please choose a number between 1 and 4 1
Your current balance is 95
What would you like to do?

    1) view current balance
    2) record a debit (withdraw)
    3) record a credit (deposit)
    4) exit
Please choose a number between 1 and 4 2
How much is the debit?1
What would you like to do?

    1) view current balance
    2) record a debit (withdraw)
    3) record a credit (deposit)
    4) exit
Please choose a number between 1 and 4 2
How much is the debit?2
What would you like to do?

    1) view current balance
    2) record a debit (withdraw)
    3) record a credit (deposit)
    4) exit
Please choose a number between 1 and 4 1
Your current balance is 92
What would you like to do?

    1) view current balance
    2) record a debit (withdraw)
    3) record a credit (deposit)
    4) exit

KeyboardInterrupt:

In [1904]:
def isnegative(number):
    return number < 0

In [1905]:
isnegative(-3)

True

In [1805]:
count_evens([1,2,3,4])

2

In [1892]:
def increment_odds(lis):
    return [i + 1 if i % 2 == 1 else i for i in lis]

In [1894]:
increment_odds([1, 2, 3,4,5])

[2, 2, 4, 4, 6]

In [1890]:
def average(lis):
    return sum(lis) / len(lis)

In [1891]:
average([1,2,3])

2.0

In [1864]:
def name_to_dict(s):
    first_name = s.split()[0]
    last_name = s.split()[1]
    return {'first_name': first_name, 'last_name':last_name}

In [1865]:
name_to_dict('hdd fdsun')

{'First_name': 'hdd', 'Last_name': 'fdsun'}

In [1850]:
def count_evens(numbers):
    evens = 0
    for i in numbers:
        if i % 2 == 0:
            evens += 1
    return evens

In [1895]:
def count_evens(numbers):
    evens = 0
    for i in numbers:
        if i % 2 == 0:
            evens += 1
    return evens

In [1898]:
count_evens([])

0

In [1792]:
increment_odds([2, 2, 1, 4, 5])

[2, 6]

In [1828]:
def increment_odds(lis):
    new_list = []
    for i in lis:
        if i % 2 == 1:
            new_list.append(i+1)
    else: new_list.append(i)
    return new_list

In [1829]:
increment_odds([2, 2, 1, 4, 5])

[2, 6, 5]

In [ ]:
def capitalize_names(lis)

In [1878]:
def capitalize_names(lis):
    
    return [{'first_name':d['first_name'].capitalize(),'last_name':d['last_name'].capitalize()} for d in lis]

In [1879]:
capitalize_names([{'first_name': 'ada', 'last_name': 'lovelace'}, {'first_name': 'marie', 'last_name': 'curie'}])

[{'first_name': 'Ada', 'last_name': 'Lovelace'},
 {'first_name': 'Marie', 'last_name': 'Curie'}]

In [1882]:
def capitalize_names(lis):
    for d in lis:
        d['first_name']=d['first_name'].capitalize()
        d['last_name']=d['last_name'].capitalize()
    return lis

In [1883]:
capitalize_names([{'first_name': 'ada', 'last_name': 'lovelace'}, {'first_name': 'marie', 'last_name': 'curie'}])

[{'first_name': 'Ada', 'last_name': 'Lovelace'},
 {'first_name': 'Marie', 'last_name': 'Curie'}]

In [1884]:
def count_vowels(s):
    count = 0
    for char in s:
        if char.lower() in "aeiou":
            count += 1
    return count

In [1887]:
count_vowels('aboocdbbooue')

7

In [1861]:
s = 'wenliang sun'
s.split()[1]

'sun'

'w'